<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css.css"/>
    <title>圖文留言板</title>
</head>
<body>
    <div>留言板</div>
    <div >
        <input type="text" id="says">
        <button id="send">送出</button>
    </div>


    <input type="file" id="image_up" accept="image/jpeg, image/png, image/jpg">
    
    <div id="box" style="display: flex;flex-direction: column;">

    </div>

<script src="/index.js"></script>
</body>
</html>